@import '../../App.scss';
.modal-enter {
	opacity: 0.01;

	.modal-view {
		transform: scale(0.9) translateY(20%);
	}
}
.modal-enter-active {
	opacity: 1;
	transition: all 200ms ease-out;

	.modal-view {
		transform: scale(1) translateY(0%);
	}
}
.modal-exit {
	opacity: 1;

	.modal-view {
		transform: scale(1) translateY(0%);
	}
}
.modal-exit-active {
	opacity: 0.01;
	transition: all 200ms ease-out;

	.modal-view {
		transform: scale(0.9) translateY(20%);
	}
}
.container--tracking-cards {
	margin: 2rem 2rem 8rem 2rem;
	.container--cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		.p-card {
			width: 95vw;
			max-width: 20rem;
			height: 20rem;
			overflow: hidden;
			box-shadow: 0 0 2rem rgba(0, 0, 0, 0.281);
			.p-card-header {
				background-color: $mediumGreen;
				border-bottom: 0.3rem solid $mediumDarkGreen !important;

				.header {
					color: white;
					text-transform: capitalize;
					text-shadow: 2px 2px $transparentMediumGray;
					font-size: 1.5rem;
					height: 3rem;
					.p-checkbox {
						height: 100%;
						display: flex;
						align-items: center;
						.p-checkbox-box {
							margin-left: -1rem !important;
							width: 2rem;
							height: 2rem;
							// height: 3rem;
							.pi {
								font-size: 1.5rem;
							}
						}
					}
				}
			}

			.p-card-body {
				background-color: #f5f5dd;
				height: 100%;
				padding: 0;
				.p-card-content {
					padding: 0.3rem;
					height: 100%;
				}

				.container--card-info {
					text-align: right;
					display: flex;
					justify-content: space-between;
					align-items: center;
					padding: 0.5rem 1rem;
					text-transform: capitalize;
					width: 100%;
					border-radius: 1rem;
					background-color: $mediumLightGreen;
					white-space: nowrap;
					overflow: hidden;
					margin-bottom: 1rem;

					.pi {
						font-size: 1.3rem;
					}

					&.line-break {
						white-space: normal;
					}

					&.top {
						margin-bottom: 0;
						height: 3.5rem;

						.pi {
							font-size: 1.5rem;
						}
					}
				}
				.icon {
					max-width: 5rem;
				}
			}
		}
	}
}
