@media screen and (max-width: 480px) {
	.bug-image {
		max-width: 12vw !important;
		min-width: 12vw !important;
	}
	.month-column {
		display: none;
	}
	.name-column {
		width: 150px !important;
	}
	.rarity-column {
		width: 100px;
		display: none;
	}
	.location-column {
		width: 100px;
		display: none;
	}
	.price-column {
		width: 100px;
		display: none;
	}
	.bells-image {
		height: 20px;
		display: none;
	}
	.icon-column {
		width: 100px;
	}
	.time-column {
		display: none;
	}
	.caught-column {
		width: 100px !important;
	}
	.p-filter-column:nth-child(n + 4) {
		display: none;
	}
	.size-column {
		display: none;
	}
}

.table-container {
	/* position: relative; */
	width: 95vw;
	margin: 3vh auto 0 auto;
	padding-bottom: 5vh;
	z-index: 100;
	max-height: 440;
}
.bug-image {
	max-width: 4vw;
}
.MuiTableCell-head {
	font-size: 15px !important;
}
.MuiTableHead-root {
	position: sticky !important;
	position: -webkit-sticky;
	top: 0;
	background-color: white;
	z-index: 100;
}

tr.p-datatable-row > td:nth-child(7) {
	padding: 0 !important;
}
/* .p-filter-column {
	width: 20vw !important;
} */
thead {
	top: 0;
	position: sticky;
	z-index: 1000;
	/* box-shadow: 0px 10px 10px -10px black; */
}
th {
	background-color: #d9ffdc !important;
}
.month-column {
	/* display: none; */
}
.name-column {
	width: 200px;
}
.rarity-column {
	width: 100px;
}
.location-column {
	width: 100px;
}
.price-column {
	width: 100px;
}
.bells-image {
	height: 20px;
}
.icon-column {
	width: 100px;
}
.p-highlight {
	color: rgb(255, 95, 122) !important;
}
.size-image {
	max-width: 90%;
	border-radius: 5px;
}
