@media screen and (max-width: 480px) {
	.bug-image {
		max-width: 12vw !important;
		min-width: 12vw !important;
	}
}

.table-container {
	position: relative;
	width: 95vw;
	margin: 3vh auto 0 auto;
	padding-bottom: 5vh;
	z-index: 100;
	max-height: 440;
	overflow: auto;
}
.bug-image {
	max-width: 4vw;
}
.MuiTableCell-head {
	font-size: 15px !important;
}
.MuiTableHead-root {
	position: sticky !important;
	position: -webkit-sticky;
	top: 0;
	background-color: white;
	z-index: 100;
}

.MuiTableContainer-root {
	overflow: visible !important;
}
/* .MuiTableRow-root {
	overflow: auto !important;
}
.MuiTableRow-head {
	overflow: auto !important;
}
tr {
	overflow: auto !important;
} */
tr.p-datatable-row > td:nth-child(7) {
	padding: 0 !important;
}
