@media screen and (max-width: 480px) {
	.header-container {
		height: 15vh !important	;
	}
	.logo-image {
		width: 17vw;
	}
	.MuiGrid-item {
		padding: none !important;
	}
	.navbar-collapse.collapse.in {
		display: block !important;
	}
}

.MuiGrid-item {
	padding: none !important;
}
.header-container {
	position: relative;
	height: 14vh;
	background-color: var(--blue);
	/* z-index: -; */
}
.nav-text {
	font-size: 1.2rem;
}
.hide-text {
	font-size: 1.2rem;
	display: inline;
	padding-right: 5px;
}
.title {
	font-size: 3vh;
	color: var(--yellow);
	text-shadow: 2px 2px 9px black;
	display: inline;
	position: relative;
	margin: 0 0 0 20px !important;
}
.motd {
	font-size: 0.8em;
	margin: 0;
}
.bg-primary {
	background-color: #649f8f !important;
}
.navbar {
	padding: 0;
}
.header--new-container,
.header--hide-caught-container {
	margin-right: 2vw;
}
.icon {
	max-height: 25px;
	max-width: 25px;
}
.p-card .p-card-body {
	padding: 0 1rem !important;
}
