.mobile-dialog-container {
	width: 90vw !important;
	text-align: left;
	max-height: 90vh;
	overflow: auto !important;
}
.mobile-dialog {
	display: inline;
}
.dialog-right {
	display: inline;
	text-align: right !important;
}
td {
	font-size: 18px !important;
	padding: 10px !important;
}
.mobile-dialog-table tr:nth-child(odd) {
	background-color: #00000018;
	vertical-align: text-top;
	/* margin: 0 !important; */
}
.p-dialog-title {
	font-size: 20px !important;
}

.dialog-icon-container {
	text-align: center;
	display: block;
}
.p-dialog-titlebar {
	background-color: var(--blue) !important;
}
.p-dialog-content {
	padding: 0 !important;
	/* background-color: white !important; */
	background: linear-gradient(#b3af9da9, #ffffffa1),
		url('../images/pattern.jpg') !important;
	background-attachment: fixed;
	background-position: center;
}
.displayed-name {
	text-decoration: underline;
}
