.total {
	padding-right: 25px;
}
.totals-container {
	padding-left: 10px;
	margin: 0 auto !important;
	width: 200px;
	position: relative;
	background-color: transparent !important;
	box-shadow: none !important;
}
.spinner {
	/* right: 0px; */
	position: absolute;
}
.bug-spinner {
	left: 18px;
}
.fish-spinner {
	left: 73px;
}
.fossil-spinner {
	left: 129px;
}
.song-spinner {
	left: 175px;
}
.icon {
	max-height: 30px;
}
