.total {
	padding-right: 30px;
}
.totals-container {
	padding-left: 10px;
	margin: 0 auto !important;
	width: 200px;
	position: relative;
}
.hide-caught {
	margin: 0 auto !important;
}
.spinner {
	/* right: 0px; */
	position: absolute;
}
.bug-spinner {
	left: 10px;
}
.fish-spinner {
	left: 55px;
}
.fossil-spinner {
	left: 100px;
}
.song-spinner {
	left: 145px;
}
