.total {
	padding-right: 40px;
}
.totals-container {
	padding-left: 10px;
	margin: 0 auto !important;
	width: 200px;
	position: relative;
	background-color: transparent !important;
	box-shadow: none !important;
}

.spinner {
	/* right: 0px; */
	position: absolute;
}
.bug-spinner {
	left: 12px;
}
.fish-spinner {
	left: 72px;
}
.fossil-spinner {
	left: 128px;
}
.song-spinner {
	left: 185px;
}
