:root {
	--blue: #a1d4cb;
	--yellow: #e9cb56;
	--light-yellow: rgba(255, 242, 191);
	--pink: rgb(214, 127, 141);
	--green: #c1fac6;
	--tan: #e7d1b0;
}
.App {
	text-align: center;
	background: linear-gradient(#e7d1b070, #e7d1b060), url('./images/pattern.jpg');
	background-attachment: fixed;
	background-position: center;
}
