@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&display=swap');

:root {
	--blue: #a1d4cb;
	--yellow: #e9cb56;
	--light-yellow: rgba(255, 242, 191);
	--pink: rgb(214, 127, 141);
	--green: hsl(125, 85%, 87%);
	--tan: #e7d1b0;
	--monthHighlight: #a1d6a1;
	--dark-font: #333333;
}
.App {
	text-align: center;
	background: linear-gradient(#e7d1b070, #e7d1b060), url('./images/pattern.jpg');
	background-attachment: fixed;
	background-position: center;
	min-height: 100vh;
}
.App * {
	font-family: 'Baloo 2', cursive !important;
}
